.pageContainer {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
  height: 3rem;
}

.searchInputField {
  height: 100%;
  text-align: center;
  border: solid 3px #223561;
  border-radius: 300px;
  font-size: x-large;
  outline: none;
}

.searchInputField:focus {
  outline: solid 1px #162340;
}

.searchButton {
  padding: 0.75rem;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #223561;
  border: solid 1px #162340;
  border-radius: 300px;
}

.searchButton:hover {
  cursor: pointer;
  background-color: #162340;
}

.buttonIcon {
  height: 1.5rem;
  color: #fff;
}
