.pageContainer {
  padding: 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchInputField {
  height: 3rem;
  text-align: center;
  border: solid 3px #223561;
  border-radius: 300px;
  font-size: x-large;
  outline: none;
  padding: 0 2rem;
}

.searchInputField:focus {
  outline: solid 1px #162340;
}

.searchButton {
  padding: 0.75rem;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #223561;
  border: solid 1px #162340;
  border-radius: 300px;
}

.searchButton:hover {
  cursor: pointer;
  background-color: #162340;
}

.buttonIcon {
  height: 1.5rem;
  color: #fff;
}

.spinnerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border: solid 8px #ddd;
  border-top: solid 8px #223561;
  border-radius: 300px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
