.currentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #dce5fc;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  gap: 2rem;
}

.currentLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.currentLeft p:nth-child(1) {
  font-size: xx-large;
}

.lightFont {
  font-weight: lighter;
}

.grayFont {
  color: #888;
  padding: 3px 10px;
}

.currentRight {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  padding: 0 1rem;
}

.currentRight p:nth-child(2), .dailyTempRow p:nth-child(1) {
  margin-bottom: 1rem;
}

.dailyContainer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 3fr 2fr 1fr 1fr;
  max-width: 100vw;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 1rem;
}

.dailyContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}

.gridTop {
  border-top: solid 1px black;
}

.dailyGridHeader {
  border-left: solid 1px black;
}

.dailyContainer div:nth-child(9n + 2) {
  background-color: #dce5fc;
}

.errorMessage {
  display: flex;
  align-items: center;
  color: #ff5e5e;
  margin-top: 1rem;
  gap: 5px;
}
